<div class="container py-4">
  <div class="justify-content-center text-center gap-3 px-3 d-flex fw-bold">
    <div class="col-9">
      <div class="col border rounded-pill shadow-sm mb-2 text-center divBack">
        <div class="d-flex justify-content-around">
          <div (click)="onClear()" class="py-2 m-0">AC</div>
          <div buttonDirective class="py-2 m-0">+/-</div>
          <div buttonDirective class="py-2 m-0">%</div>
        </div>
      </div>
      <div class="col gap-1">
        <div class="col justify-content-between d-flex gap-1">
          <div
            buttonDirective
            details="'test'"
            class="keyStyle shadow-sm"
          >
            1
          </div>
          <div buttonDirective class="keyStyle shadow-sm">2</div>
          <div buttonDirective class="keyStyle shadow-sm">3</div>
        </div>
        <div class="col justify-content-between d-flex gap-1">
          <div buttonDirective class="keyStyle shadow-sm">4</div>
          <div buttonDirective class="keyStyle shadow-sm">5</div>
          <div buttonDirective class="keyStyle shadow-sm">6</div>
        </div>
        <div class="col justify-content-between d-flex gap-1">
          <div buttonDirective class="keyStyle shadow-sm">7</div>
          <div buttonDirective class="keyStyle shadow-sm">8</div>
          <div buttonDirective class="keyStyle shadow-sm">9</div>
        </div>
        <div class="col justify-content-between d-flex gap-1">
          <div buttonDirective class="keyStyle shadow-sm">.</div>
          <div buttonDirective class="keyStyle shadow-sm">0</div>
          <div buttonDirective class="keyStyle shadow-sm">00</div>
        </div>
      </div>
    </div>
    <div class="col-2 shadow-sm rounded-pill divBack">
      <div class="d-flex h5 fw-bold flex-column flex-wrap text-center">
        <div buttonDirective class="col py-3">&#247;</div>
        <div buttonDirective class="col py-3">&#215;</div>
        <div buttonDirective class="col py-3">-</div>
        <div buttonDirective class="col py-3">+</div>
        <div (click)="evalAnswer()" class="col py-3">=</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row justify-content-between d-flex gap-0 flex-row">
  <div class="keyStyle">AC</div>
  <div class="keyStyle">1</div>
  <div class="keyStyle">4</div>
  <div class="keyStyle">7</div>
  <div class="keyStyle">.</div>
</div>
<div class="row justify-content-between d-flex gap-3 flex-row">
  <div class="keyStyle">+/-</div>
  <div class="keyStyle">2</div>
  <div class="keyStyle">5</div>
  <div class="keyStyle">8</div>
  <div class="keyStyle">0</div>
</div>
<div class="row justify-content-between d-flex gap-3 flex-row">
  <div class="keyStyle">%</div>
  <div class="keyStyle">3</div>
  <div class="keyStyle">6</div>
  <div class="keyStyle">9</div>
  <div class="keyStyle">00</div>
</div>
<div class="row justify-content-between d-flex gap-3 flex-row">
  <div class="keyStyle">/</div>
  <div class="keyStyle">x</div>
  <div class="keyStyle">-</div>
  <div class="keyStyle">+</div>
  <div class="keyStyle">=</div>
</div> -->
