<div class="container py-4">
  <div class="justify-content-center text-center gap-3 px-3 d-flex fw-bold">
    <div class="col-9">
      <div
        [ngClass]="{
          'key-style-light': !selectedMode,
          'key-style-dark': selectedMode,

          'rounded-pill mb-2 text-center shadow-sm  col': true
        }"
      >
        <div class="d-flex justify-content-around">
          <div (click)="onClear()" class="py-2 m-0">AC</div>
          <div buttonDirective class="py-2 m-0">+/-</div>
          <div buttonDirective class="py-2 m-0">%</div>
        </div>
      </div>
      <div class="col gap-1">
        <div class="col justify-content-between d-flex gap-1">
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            1
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            2
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            3
          </div>
        </div>
        <div class="col justify-content-between d-flex gap-1">
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            4
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            5
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            6
          </div>
        </div>
        <div class="col justify-content-between d-flex gap-1">
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            7
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            8
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            9
          </div>
        </div>
        <div class="col justify-content-between d-flex gap-1">
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            .
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            0
          </div>
          <div
            buttonDirective
            [ngClass]="{
              'key-style-light': !selectedMode,
              'key-style-dark': selectedMode,
              'key-style': true
            }"
          >
            00
          </div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'key-style-light': !selectedMode,
        'key-style-dark': selectedMode,
        'col-2 rounded-pill shadow-sm': true
      }"
    >
      <div class="d-flex h5 fw-bold flex-column flex-wrap text-center">
        <div buttonDirective class="col py-3">&#247;</div>
        <div buttonDirective class="col py-3">&#215;</div>
        <div buttonDirective class="col py-3">-</div>
        <div buttonDirective class="col py-3">+</div>
        <div (click)="evalAnswer()" class="col py-3">=</div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row justify-content-between d-flex gap-0 flex-row">
  <div class="keyStyle">AC</div>
  <div class="keyStyle">1</div>
  <div class="keyStyle">4</div>
  <div class="keyStyle">7</div>
  <div class="keyStyle">.</div>
</div>
<div class="row justify-content-between d-flex gap-3 flex-row">
  <div class="keyStyle">+/-</div>
  <div class="keyStyle">2</div>
  <div class="keyStyle">5</div>
  <div class="keyStyle">8</div>
  <div class="keyStyle">0</div>
</div>
<div class="row justify-content-between d-flex gap-3 flex-row">
  <div class="keyStyle">%</div>
  <div class="keyStyle">3</div>
  <div class="keyStyle">6</div>
  <div class="keyStyle">9</div>
  <div class="keyStyle">00</div>
</div>
<div class="row justify-content-between d-flex gap-3 flex-row">
  <div class="keyStyle">/</div>
  <div class="keyStyle">x</div>
  <div class="keyStyle">-</div>
  <div class="keyStyle">+</div>
  <div class="keyStyle">=</div>
</div> -->
